<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Eve SkillTracker</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/mainLogo.jpg" alt="main logo"/></a>
    <div class="navlink"><a href="/logout">Log Out</a></div>
    <div class="navlink"><a id="subscribe" href="/subscribe">Subscribe</a></div>
  </nav>
  <section id="makeCharacter">
  </section>
  <section id="characters">
  </section>
  <div id="userMessage">
    <h3><span id="errorMessage"></span></h3><img id="errorImg" src="assets/img/errorIcon.png" alt="error img"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>
