* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: 'Courier New', Courier, monospace;
    
}

#logo {
    height: 40px;
    width: auto;
    padding-top: 15px;
    padding-left: 5px;
    float:left;
    border-radius: 2px;
}

nav {
    width: 100%;
    height: 75px;
    background-image: url("./img/backdrop.jpg");
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 23px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    background-color: #2d4e68;
    transition: background-color 0.4s ease;
    border: 1px solid #555555;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #406079;
}

.characterForm {
    border: 2px solid #1c374b;
    height: 105px;
    width: 800px;
    margin: 20px auto;
    padding-top:15px;
    background-color: #1a4769;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.characterForm label {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.characterForm input[type=text] {
    float:left;
}

.characterForm #skills {
    width: 600px;
    margin: 10px 100px
}

.makeCharSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #1c374b;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 25px;
}

.makeCharSubmit:link, .makeCharSubmit:visited, .makeCharSubmit:hover, .makeCharSubmit:active {
    color: white;
}

.makeCharSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgb(29, 92, 139);
}

.mainForm {
    height: 300px;
    width: 400px;
    margin: 0 auto;
    margin-top: 350px;
    padding: 60px 100px;
    font-size: 1.2em;
    background-color: #555555;
    text-align: center;

    border: 3px solid #1d2e3b;
    border-radius: 15px;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #1c374b;
    border-radius: 2px;
    border-color: #1d2e3b;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #1b4768;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #1c374b;
}

#userMessage {
    display:none;
    bottom: 25px;
    width: 500px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    height: 150px;
    position: absolute;
    z-index: 200;
    overflow: hidden;
    background-color: #2d4e68;
    border: 3px solid black;
    border-radius: 15px;
}

#userMessage h3 {
    width: 200px;
    position: absolute;
    top: 30px;
    left: 200px;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
}

#errorImg {
    z-index: 225;
    height: 100px;
    width: 100px;
    margin: 25px 25px
}

#characters {
    width: 40%;
    min-width: 400px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #555555;
}

.character {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #1c374b;
    border-radius: 4px;
    background-color: #1b4768;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.character:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 0.6s ease-out;
    background-color: #406079;
}

img.charPortrait {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyChar {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.charName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.charAccount {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}